<% include header.ejs %>

<h1>login</h1>
<form action="/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>login</button>
</form>
<% include footer.ejs %>
